﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/HomeMaster.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="PetShelter.Home.About" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style ="float:left ;">
<img src="../images/4.jpg" style ="margin-left :100px;width :500px;height :400px;"/>
    </div >
    <div style="width :55%;height :400px; color :#FF6666 ;float :right ;">Petbazar is the pioneer to introduce Pets boutique range of clothes apparels and jewelery .We has the most exquisite range of Dog Perfumes and Cosmetic grooming products.  Especially made to fulfill minutest personal care of tour loving Pets.Our Business line caters all the Need of a prospected pet lover with all after sale services for your Dogs and cats. Our respective clients includes a Common Layman to the President of India. We have officially procured our dogs Products to Indian Army, Rajasthan Police, BSF, RPF & to various governmental & Private Institutions. IDB has become the most renowned & acclaimed brand with love of endless people.<br /> Our Brand name carries trust. We have been covered by leading premier media globally multiple times like Times of India, Hindustan Times, Asian Age, The Wall Street General, Indian Expose, Midday, Khaleej Times, Gulf Near, New York World, CNN, BBS, Aaj Tak, Star News, NDTV, Zee News, Danik Bhaskar, Punjab Kesari and Lot more. We at IDB feels proud of being the pioneers in pets sector in india.</div>
</asp:Content>
