﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/HomeMaster.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="PetShelter.Home.Contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
      <div style ="float:left ;">
<img src="../images/8.jpg" style ="margin-left :100px;width :500px;height :400px;"/>
    </div >
    <div style="width :55%;height :400px; color :#FF6666 ;float :right ;">
        CONTACT CUSTOMER SERVICE<br />

CALL US ON 1300 655 896<br />We are here to help you:<br />
Monday to Friday 8am-7pm AEST/AEDT<br />
Saturday & Sunday 9am-5pm AEST/AEDT<br />
    </div>

</asp:Content>
