﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HomeMaster.master.cs" Inherits="PetShelter.Home.HomeMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/swipebox.css" rel="stylesheet" />

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/easing.js"></script>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/jquery.swipebox.min.js"></script>
    <script src="../js/move-top.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div  id="to-top">
			<div class="container">
				<div class="nav-back">
					<div class="navigation">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a  href="HomePage_PetBazar.aspx">HOME <span class="sr-only">(current)</span></a></li>
									<li><a href="About.aspx">ABOUT</a></li>
									<%--<li class="dropdown">
									  <a href="gallery.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GALLERY<span class="caret"></span></a>
									  <ul class="dropdown-menu">
										<li><a href="gallery.html">Action</a></li>
										<li><a href="gallery.html">Another action</a></li>
										<li><a href="gallery.html">Something else here</a></li>
									  </ul>
									</li>--%>
									<li><a href="Contact.aspx">CONTACT</a></li>
									<li><a href="#">GALLARY</a></li>
									<li><a href="Registration.aspx">LOGIN</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
								<div class="clearfix"></div>	
							<div class="clearfix"></div>
						</nav>
						<div class="clearfix"></div>
					</div>
					<div class="logo">
						<h1>PET<span class="hlf1"> BAZAR</span></h1>
					</div>
                      </div> 
                </div>
                </div> 
            
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
                  
            
        </div>
    </form>
</body>
</html>
