﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/HomeMaster.Master" AutoEventWireup="true" CodeBehind="HomePage_PetBazar.aspx.cs" Inherits="PetShelter.Home.HomePage_PetBazar" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
						 
						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
							<div class="item active">
							  <img src="../images/1.jpg" alt="dog" class="img-responsive" style ="margin-left :100px;width :1170px;height :450px;"/>
							 
							</div>
							<div class="item">
							  <img src="./images/4.jpg" alt="cat" class="img-responsive"/>
							  
							</div>
							<div class="item">
							  <img src="./images/2.jpg" alt="wolfdog" class="img-responsive"/>
							  <div class="carousel-caption ch">
								<h3>Sed at ligula sed nibh rutrum pretium </h3>
								<p>Suspendisse ut ante eget ex maximus malesuada tincidunt eu ex.</p>
							  </div>
							</div>
						  </div>
						 
						</div>
</asp:Content>
