﻿body {
}

.signup {
    background-color: #FF6666;
    width: 400px;
    height: 470px;
   border-radius :10px;
    float :left ;
}

.login {
    
    border-radius: 10px;
   
}

.ddl {
    Height: 35px;
    Width: 280px;
    margin-left: 50px;
    border-radius: 8px;
    border :2px solid black;
}

.txt {
    Height: 35px;
    Width: 150px;
    margin-left: 50px;
    border-radius: 8px;
}

.txtlog {
    Height: 35px;
    Width: 150px;
    
    border-radius: 8px;
}

.txtMultiline {
    Height: 140px;
    Width: 480px;
    margin-left: 50px;
    border-radius: 8px;
    border: 2px solid black;
}
.btnsign {
    width: 120px;
    height: 35px;
    background-color: white;
    border :2px solid black;
    border-radius: 8px;
}

#btnSignUp {
    
    border :2px solid black;
}

.btnlogin {
    width: 120px;
    height: 35px;
    background-color: white;
    margin-left: 140px;
    border-radius: 8px;
    border: 2px solid black;
}

.grid_Heading{
    text-align :center ;
}





