/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
/*--header-nav--*/
.banner-background { 
	background: url(../images/bg.jpg);
}
.nav-back {
	background-color: #fff;
	padding: 0px 50px 0px 50px;
}
.banner-slider {
	padding-bottom: 50px;
}
.navbar-default {
	background-color: transparent !important;
	border: none !important;
	min-height: 90px;
	margin-bottom: 0;
}
.navbar-collapse {
	padding: 0 !important;
}
.navbar-nav {
	float: none !important;
}
.navbar-nav>li {
	margin-left: 0em !important;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-decoration: none;
	background: #000000;
	padding: 30px 55px;
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight: 700;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: #FF6666;
	padding: 35px 55px;
	transition:0.5s all ease-in-out;
	font-size:16px;
}
ul.nav.navbar-nav li a.active{
	color: #fff;
	background-color: #FF6666;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #FF6666;
}
.navbar-default .navbar-nav>li>a:focus{
	color: #fff;
	background-color: #FF6666;
}
.dropdown-menu {
	text-align: left;
	list-style: none;
	background-color: #000000;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border: none;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.dropdown-menu>li>a {
	padding: 6px 20px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.dropdown-menu>li>a:hover {
	color: #FF6666;
	text-decoration: none;
	background-color: transparent;
}
.logo {
	text-align: center;
	margin:0;
	padding:16px 0px 26px;
}

.logo1 {
    
    margin-left :350px;
    padding: 16px 0px 26px;
}

.logo1 span.hlf1 {
    text-decoration: none;
    color: #FF6666;
}
.logo h1 {
	margin: 0;
}
.logo a {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-decoration: none;
	color: #000;
}
.logo a span.hlf{
	text-decoration: none;
	color: #FF6666;
}

    .logo  span.hlf1 {
        text-decoration: none;
        color: #FF6666;
    }

.carousel-caption.ch  h3{
	text-transform: uppercase !important;
	font-size:2em !important;
	font-weight:500 !important;
	color: #FFFFFF ;
}
.carousel-caption.ch p {
	color: #000;
	font-size: 1.3em;
	font-weight: 400;
	text-shadow: none;
}
.carousel-indicators .active {
	background-color: #DB3838;
}
.carousel-indicators li {
	border: 1px solid #444343;
 }
 /*--header-nav--*/
 /*--our-products--*/
 .our-products {
	background-color: #fff;
}
.products-gallery {
	margin: 0em 0em 5em;
}
.products-gallery h2 {
	text-align: center;
	font-weight: 400;
	font-size: 3em;
	margin: 0px;
	color: #FDA2A2;
	padding: 1em 0em;
	font-family: 'Quicksand', sans-serif;
}
 .caption {
	text-align: center;
	padding: 50px 40px 0px;
}
.arr:hover{
  padding: 0;
  transform: scale(1.02,1.02);
  transition: 0.5s all ease-in-out;
  cursor:pointer;
}
.arr {
	padding: 0;
}
.bg {
	background-color: rgb(242, 227, 227);
	margin: 0px 8px;
	border-radius: 5px;
	position: relative;
}
.arr img{
	width:100%;
	border-bottom: 6px solid #E55151;
	border-radius: 5px 5px 0px 0px;
}
span.pst {
	font-size: 15px;
	position: absolute;
	background-color: #E55151;
	border-radius: 50%;
	padding: 19px 19px;
	top: 41%;
	left: 41%;
	text-align: center;
}
span.pst:hover {
	-o-transform:rotatey(360deg);
	-moz-transform:rotatey(360deg);
	-webkit-transform:rotatey(360deg);
	transform:rotatey(360deg);
	transition:0.7s;
	cursor: pointer;
}
.traits-technology {
	padding-bottom: 5em;
}
.caption:hover {
	transform:scale(1,1);
	transition:0.5s all;
}
.caption h3{
	
}
.caption p{
	line-height: 1.8em;
	padding-bottom: 20px;
}
.tt {
	padding: 0;
}
ul.traits-text {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.traits-text li h3{
	font-size: 5em;
	margin: 0px 0px 25px;
	font-family: 'Quicksand', sans-serif;
}
ul.traits-text li p {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 20px;
}
.tt ol{
	margin:	0;
	padding: 0px 0px 15px;
	color: #E84E4E;
}
.tt ol li a{
	font-size:1em;
	color: #E84E4E;
	text-decoration:none;
	line-height: 1.8em;
}
.tt ol li a:hover{
	color:#196ECF;
}
span a.btn.btn-danger.bt {
	padding: 10px 0px;
	width: 15%;
	margin: 0;
}
.bgtl {
	font-size: 100px;
	margin: 5px;
	padding: 40px 40px;	
	color: #fff;
	border-radius:3px;
	cursor: pointer;
}
.bgtl:hover {
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	transition: 0.5s ease-in-out;
}
.glyphicon-leaf.bgtl{
	background-color: #80A610;
}
.glyphicon-grain.bgtl{
	background-color: #CFBE19;
}
.glyphicon-fire.bgtl{
	background-color: #DD3912;
}
.glyphicon-camera.bgtl{
	background-color: #196ECF;
}
/*--our-products--*/
/*--logos--*/
.brand-logo {
	padding: 6em 0em;
	background-color: rgba(217, 83, 79, 1);
}
/*--logos--*/
/*--footer--*/
.footer{
	background: rgb(242, 227, 227);
	padding: 5em 0em;
}
.about h4,.advice h4,.join-in h4,.follow-us h4,.copy-rt h4{
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size:1.5em;
	margin:0;
	padding: 0px 0px 20px;
}
.about ul li,.advice ul li,.join-in ul li,.follow-us ul li{
	margin: 0;
	padding: 0;
}
.about ul li a,.advice ul li a,.join-in ul li a,.follow-us ul li a{
	text-decoration:none;
	color:#333;
	line-height: 2em;
}
.about ul li a:hover,.advice ul li a:hover,.join-in ul li a:hover{
	color:#D9534F;
}
.about ul {
	margin: 0;
	padding: 0px 12px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);
}
.advice ul{
	margin: 0;
	padding: 0px 18px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);
}
.join-in ul{
	margin: 0;
	padding: 0px 18px 0px;
	list-style-image:url(../images/mini-arrow.jpg);
	color: rgb(124, 132, 124);
}
.follow-us ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.follow-us ul li{
	margin:0px 2px;
	padding:0;
	display: inline;
}
.follow-us ul li a{
	background:url(../images/social.png);
	width:24px;
	height:24px;
	display: inline-block;
}
.follow-us ul li a.fb{
	background-position: 24px 0px;
}
.follow-us ul li a.fb:hover{
	background-position: 24px 24px;
}
.follow-us ul li a.twt{
	background-position:0px 0px;
}
.follow-us ul li a.twt:hover{
	background-position:0px 24px;
}
.follow-us ul li a.gpls{
	background-position: 49px 0px;
}
.follow-us ul li a.gpls:hover{
	background-position: 49px 24px;
}
.follow-us ul li a.pint{
	background-position: -26px 0px;
}
.follow-us ul li a.pint:hover{
	background-position: -26px 24px;
}
.follow-us ul li a.lnkdin{
	background-position: 74px 0px;
}
.follow-us ul li a.lnkdin:hover{
	background-position: 74px 24px;
}
.copy-rt p a{
	text-decoration:none;
	color:#DD3912;
}
.copy-rt p a:hover{
	color:#80A610;
}
.copy-rt p {
  line-height: 1.7em;
}
/*--footer--*/
/*--404--*/
.four-four {
	text-align: center;
	height: 536px;
	padding-top: 7em;
	background-color: #fff;
	border-top: 3px solid pink;
}
.four-four h3{
	margin:0;
	font-size: 16em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	color: #000;
	vertical-align: bottom;
}
.four-four p {
	font-size: 2em;
	padding: 0.4em 0em;
	color: #FF6666;
}
.four-four h3 span{
	color:red;
}
/*--404--*/
/*--contact--*/
.contact-page {
	border-top: 3px solid pink;
	padding: 3em 0em;
}
.contact-page h3 {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  color: #FDA2A2;
  margin: 0px 0px 30px;
  font-family: 'Quicksand', sans-serif;
}
.map iframe.embed-responsive-item{
	height:300px;
	width: 100%;
}
.text-area textarea {
	height: 200px;
	width: 100%;
	resize: none;
	margin: -5px 0px;
	outline: none;
	border: 2px solid #1C1C1C;
	text-align:left;
	padding: 8px 8px;
}
.form{
	text-align:right;
}
input[type="text"]{
	outline:none;
	width: 70%;
	border: 2px solid #1C1C1C;
	padding: 8px 8px;
	margin: -5px 0px;
}
.feed-back {
	padding: 3em 0;
}
/*--contact--*/
/*--services--*/
.service-list h3{
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	color: #FDA2A2;
	margin: 0px 0px 45px;
	font-family: 'Quicksand', sans-serif;
}
.services {
	min-height: 500px;
}
ul.row {
	list-style-type: none;
}
li.mr {
	margin-bottom: 6px;
	padding: 0px 3px;
}
ul.list{
	list-style-image:url(../images/mini-arrow.jpg);
	margin:0;
	padding:0;
}
ul.list li{
	margin: 10px 0px;
	padding:0;
}
ul.list li a{
	text-decoration:none;
	color: rgb(255, 102, 102);
}
ul.list li a:hover{
	color: #648B22;
}
a.controls.next {
	float: left;
	margin-top: 25px;
}
a.controls.previous {
	float: right;
	margin-top: 25px;
}
.clear{
	clear: both;
}
.modal-body {
	position: relative;
	padding: 50px;
}
.services {
	border-top: 3px solid rgb(255, 192, 203);
}
.service-list {
	padding: 3em 0em;
}
.gal-settings {
	padding: 0px 4px 0px;
	margin: 0px 0px 8px;
}
/*--services--*/
/*--pages--*/
.typography {
	border-top: 3px solid pink;
	padding: 3em 0em;
}
.typography > h3{
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	color: #FDA2A2;
	margin: 0px 0px 40px;
	font-family: 'Quicksand', sans-serif;
}
.grid_1 > h4 {
	font-size: 2em;
	margin: 0px 0px 26px;
}
.table>tbody>tr>td{
	padding:16px 0px !important;
}
.grid_2 {
	padding: 0em 0em 2em;
}
.grid_2  h4.heading{
	font-size: 2em;
	margin: 0px 0px 26px;
}
.grid_2 h6.typ1,h5.typ1,h4.typ1,h3.typ1,h2.typ1,h1.typ1{
	margin-bottom:20px;
}
.grid_3 {
	padding: 0em 0em 2em;
}
.grid_3  h4.heading{
	font-size: 2em;
	margin: 0px 0px 26px;
}
.grid_4 {
	padding: 0em 0em 2em;
}
.grid_4  h4.heading{
	font-size: 2em;
	margin: 0px 0px 26px;
}
.grid_5{
	padding: 0em 0em 2em;
}
.grid_5  h4{
	font-size: 2em;
	margin: 0px 0px 26px;
}
code {
	font-size: 1.2em !important;
}
.grid_6  h4{
	font-size: 2em;
	margin: 0px 0px 26px;
}
.grid_6{
	padding: 0em 0em 2em;
}
p.mrg{
	margin:0px 0px 6px;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.page-header h4{
	font-size: 2em;
	margin: 0px 0px 26px;
}
section#tables {
	padding-bottom: 1em;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 40px;
	height: 22px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--pages--*/
/*--about--*/
.about-pg{
	border-top: 3px solid rgb(255, 192, 203);
	padding: 3em 0em 3em;
}
.about-pg>h3{
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	color: #FDA2A2;
	margin: 0px 0px 45px;
	text-transform:uppercase;
	font-family: 'Quicksand', sans-serif;
}
.folt p ,.flt p{
	font-weight: 100;
	line-height: 1.7em;
	font-size: 1em;
}
.choose-us h3 {
	font-size: 2em;
	font-weight:400;
	margin: 0px 0px 30px;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}
.few-words>h3 {
	font-size: 2em;
	font-weight:400;
	margin: 0px 0px 30px;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}
.choose-us ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.choose-us ul li{
	margin:0px 0px 30px;
	padding:0;
}
.choose-us ul li span{
	background:url(../images/sr-no.png) 0px 0px no-repeat;
	width:36px;
	height:50px;
	display:inline-block;
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	background-size: 109px;
}
.folt{
	float: left;
}
.choose-us ul li span.two{
	background-position:-37px 0px;
}
.choose-us ul li span.three{
	background-position:-73px 0px;
}
li.text-ul h4 {
	margin: 0px 0px 5px;
	font-size: 1.4em;
	font-weight: 400;
}
.few-text img{
	width: 35%;
	float: left;
	margin-right: 15px;
}
.few-text .flt {
	float: left;
	width: 62%;
}
.few-text {
	padding-bottom: 50px;
}
.few-words h4 {
	margin: 0px 0px 5px;
	font-size: 1.4em;
	font-weight: 400;
}
.test-our {
	  padding: 0em 0em 5em;
}
.testmonials h3 {
	font-size: 2em;
	font-weight: 400;
	margin: 0px 0px 30px;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}
.our-team h3 {
	font-size: 2em;
	font-weight: 400;
	margin: 0px 0px 30px;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}
.box p {
	font-size: 0.9em;
}
.box {
	border: 1px solid pink;
	padding: 12px;
	margin: 20px 0px;
}
.txt {
	text-align: center;
}
.txt h4{
	margin: 8px 0px;
	font-size: 1.1em;
	font-weight: 600;
}
.txt p{
	font-size: 1em;
	font-weight: 300;
}
/*--about--*/
/*--responsive starts here--*/
@media screen and (max-width:1280px){
	.four-four p {
		padding: 0.5em 0em;
	}
}
@media screen and (max-width:1024px){
	.navbar-default .navbar-nav>li>a {
		padding: 30px 44px;
		font-size: 13px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		padding: 35px 44px;
		font-size: 13px;
	}
	span.pst {
		top: 34%;
		left: 36%;
	}
	ul.traits-text li h3 {
		font-size: 4em;
	}
	ul.traits-text li p {
		font-size: 1.2em;
	}
	.bgtl {
		font-size: 66px;
	}
	span a.btn.btn-danger.bt {
		padding: 8px 0px;
	}
	.caption p {
		font-size: 1em;
	}
	.few-text .flt {
		width: 61%;
	}
	.few-text {
		padding-bottom: 43px;
	}
	.caption {
		text-align: center;
		padding: 30px 17px 0px;
	}
}
@media screen and (max-width:768px){
	.navbar-default .navbar-nav>li>a {
		padding: 20px 27.7px;
		font-size: 12px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		padding: 25px 27.7px;
		font-size: 12px;
	}
	.navbar-default {
		min-height: 70px;
	}
	.products-gallery h2 {
		font-size: 2.5em;
	}
	.arr {
		padding: 0;
		float: left;
		width: 50%;
		margin: 0px 0px 20px;
	}
	span.pst {
		top: 53%;
		left: 42%;
	}
	.products-gallery h2 {
		padding: 0.8em 0em;
	}
	.products-gallery {
		margin: 0em 0em 1em;
	}
	.arr:nth-child(5) {
		margin-left:0px;
	}
	.caption {
		padding: 20px 40px 0px;
	}
	ul.traits-text li h3 {
		font-size: 3em;
		text-align: center;
	}
	ul.traits-text {
		text-align: center;
	}
	.brk {
		width: 50%;
		float: left;
	}
	.tt ol {
		padding: 0px 90px 15px;
	}
	.tt {
		text-align: center;
	}
	.tt.brk2 {
		width: 25%;
		float: left;
	}
	span a.btn.btn-danger.bt {
		margin-bottom: 2em;
	}
	.traits-technology {
		padding-bottom: 2.5em;
	}
	.brk3{
		width:25%;
	}
	.brand-logo {
		padding: 3em 0em;
	}
	.brk4{
		float:left;
		width: 33.333%;
	}
	.brk5{
		float:left;
		width: 48%;
		margin-left: 10px;
	}
	.mrg1{
		margin-bottom:30px;
	}
	.footer {
		padding: 2em 0em;
	}
	.lt {
		margin-bottom:1.7em;
	}
	.col-md-3.txt {
		float: left;
		width: 25%;
	}
	.about-pg>h3 {
		font-size: 2.5em;
	}
	.choose-us h3,.few-words>h3 ,.testmonials h3 ,.our-team h3 {
		font-size: 1.7em;
	}
	li.text-ul h4 ,.few-words h4 {
		font-size: 1.3em;
		font-weight: 600;
	}
	.folt p,.flt p {
		font-size: 13.5px;
	}
	/*--services--*/
	.service-list h3 {
		font-size: 2.5em;
	}
	.col-md-4.txt-alg {
		margin-left: 37px;
		margin-bottom: 30px;
	}
	.row {
		margin-right: 0px !important;
		margin-left: -39px !important;
	}
	.col-md-6.tt.brk9 {
		padding-top: 3em;
	}
	.contact-page h3 {
		font-size: 2.5em;
	}
	.four-four {
		height: 530px;
	}
	.four-four p {
		font-size: 2em;
		padding: 0.5em 0em;
	}
	.col-md-4.gal-settings {
		width: 33.333%;
		float: left;
	}
}
@media screen and (max-width:736px){
	.navbar-default .navbar-toggle {
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFFFFF;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 18px 27.7px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		padding: 18px 27.7px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #F66;
	}
}
@media screen and (max-width:640px){
	.navbar-default .navbar-toggle {
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle:hover {
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle {
		border-color: none;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFFFFF;
	}
	.navbar-toggle {
		margin-top: 20px;
		margin-right: 225px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 18px 27.7px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		padding: 18px 27.7px;
	}
	.navbar-nav {
		text-align: center;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #F66;
	}
	.arr {
		float: left;
		width: 50%;
	}
	.arr:nth-child(5) {
		margin: 0;
	}
	span.pst {
		top: 45%;
		left: 39%;
	}
	.tt ol {
		padding: 0px 30px 15px;
	}
	.bgtl {
		font-size: 55px;
	}
	.label {
		font-size: 53%;
	}
	.col-md-4.gal-settings {
		width: 30%;
		float: left;
	}
}
@media screen and (max-width:568px){
	.navbar-toggle {
		margin-right: 192px;
	}
	.carousel-caption.ch h3 {
		font-size: 1.3em !important;
	}
	.carousel-caption.ch p {
		font-size: 1.1em;
	}
	span.pst {
		top: 38%;
		left: 39%;
		padding: 17px 17px;
	}
	.brk {
		width: 100%;
		margin: 0px 15px 0px;
	}
	.tt ol {
		padding: 0px 129px 15px;
	}
	.bgtl {
		font-size: 39px;
	}
}
@media screen and (max-width:480px){
	.navbar-toggle {
		margin-right: 166px;
	}
	.nav-back {
		background-color: #fff;
		padding: 0px 30px 0px 29px;
	}
	.carousel-caption.ch h3 {
		font-size: 1.4em !important;
	}
	.carousel-caption.ch p {
		font-size: 1.1em;
	}
	.banner-slider {
		padding-bottom: 30px;
	}
	.caption {
		padding: 20px 11px 0px;
	}
	span.pst {
		top: 37%;
		left: 39%;
		padding: 15px 15px;
	}
	.products-gallery h2 {
		font-size: 2.3em;
	}
	ul.traits-text li h3 {
		font-size: 2.2em;
	}
	ul.traits-text li p {
		font-size: 1.1em;
	}
	.tt ol {
		padding: 0px 15px 15px;
	}
	.tt ol li a {
		font-size: 0.9em;
	}
	.bgtl {
		font-size: 50px;
		padding: 25px 25px;
	}
	.brand-logo {
		padding: 2em 0em;
	}
	.brk3 {
		width: 50%;
		margin-bottom: 1em;
	}
	.follow-us ul {
		margin: 0px 0px 20px
	}
	.col-md-3.txt {
		float: left;
		width: 50%;
		padding-bottom: 1.5em;
	}
	.test-our {
		padding-bottom: 0em;
	}
	.lt {
		margin-bottom: 1em;
	}
	.about-pg>h3 {
		font-size: 2.3em;
	}
	.choose-us h3, .few-words>h3, .testmonials h3, .our-team h3 {
		font-size: 1.6em;
	}
	li.text-ul h4, .few-words h4 {
		font-size: 1.2em;
		font-weight: 600;
	}
	.folt p, .flt p {
		font-size: 13px;
	}
	.service-list h3 {
		font-size: 2.3em;
	}
	.four-four {
		height: 400px;
		padding-top: 5em;
	}
	.four-four h3 {
		margin: 0;
		font-size: 13em;
	}
	.four-four p {
		font-size: 2em;
		padding: 0.2em 0em;
	}
}
@media screen and (max-width:414px){
	.nav-back {
		padding: 0px 30px 0px 30px;
	}
	.banner-slider {
		padding-bottom: 30px;
	}
	.products-gallery h2 {
		font-size: 2em;
	}
	.navbar-default .navbar-toggle {
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle:hover{
		background-color: rgb(255, 102, 102);
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFFFFF;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 14px 27.7px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		padding: 14px 27.7px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #F66;
	}
	.carousel-caption.ch p {
		color: #000;
		font-size: 0.9em;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
		min-height: 160px;
	}
	.carousel-caption.ch h3 {
		font-size: 1em !important;
	}
	.logo a {
		font-size: 28px;
	}
	.navbar-toggle {
		margin-right: 130px;
	}
	.arr {
		float: none;
		width: 90%;
		margin-bottom: 20px;
		margin-left: 20px;
	}
	.arr:nth-child(5) {
		margin-left: 20px;
	}
	span.pst {
		top: 52%;
		left: 42%;
	}
	ul.traits-text li h3 {
		font-size: 2em;
		text-align: center;
	}
	ul.traits-text li p {
		font-size: 1.1em;
	}
	.tt ol {
		padding: 0px 63px 15px;
	}
	.brk {
		width: 100%;
		float: left;
	}
	.bgtl {
		font-size: 45px;
		padding: 20px 20px;
	}
	.brk3 {
		width: 50%;
		padding-bottom: 1em;
	}
	.img-responsive, .thumbnail a>img, .thumbnail>img {
		min-height: 30px;
	}
	.about h4, .advice h4, .join-in h4, .follow-us h4, .copy-rt h4 {
		font-size: 1.3em;
		margin-bottom: -10px;
	}
	.about ul li a, .advice ul li a, .join-in ul li a, .follow-us ul li a {
		font-size: 0.9em;
	}
	.follow-us ul {
		margin: 0px 0px 16px;
	}
	.follow-us ul li {
		margin: 0px 1px;
	}
	.folt {
		float: left;
		width: 83%;
	}
	.few-text .flt {
		width: 60%;
	}
	.few-text {
		padding-bottom: 0px;
	}
	.four-four p {
		font-size: 2em;
		padding: 0.2em 0em;
	}
}
@media screen and (max-width:384px){
	.navbar-toggle {
		margin-right: 110px;
	}
	span.pst {
		top: 49%;
		left: 42%;
	}
	.bgtl {
		font-size: 35px;
		padding: 20px 20px;
	}
	.folt {
		float: left;
		width: 82%;
	}
	.few-text img {
		width: 100%;
		margin-bottom: 2em;
	}
	.few-text .flt {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.tt ol {
		padding: 0px 48px 15px;
	}
	.brk {
		margin: 0px 11px 0px;
	}
	.txt p {
		font-size: 0.9em;
	}
	.brk5 {
		float: left;
		width: 100%;
	}
	.about h4, .advice h4, .join-in h4, .follow-us h4, .copy-rt h4 {
		font-size: 1.2em;
	}
	.about ul li a, .advice ul li a, .join-in ul li a, .follow-us ul li a {
		font-size: 13px;
	}
	.four-four h3 {
		margin: 0;
		font-size: 10em
	}
	.navbar-toggle {
		margin-right: 118px;
		margin-top: 27px;
	}
}
@media screen and (max-width:375px){
	.tt ol {
		padding: 0px 44px 15px;
	}
	.four-four p {
		padding: 0.5em 0em;
		color: #FF6666;
	}
}
@media screen and (max-width:320px){
	.navbar-toggle {
		margin-right: 110px;
		margin-top: 16px;
		padding: 6px;
	}
	.logo {
		text-align: center;
		margin: 0;
		padding: 0px 0px 13px;
	}
	.nav-back {
		padding: 0px 10px 0px 10px;
	}
	.bg {
		margin: 0px 0px 0px;
	}
	.products-gallery h2 {
		font-size: 1.9em;
	}
	span.pst {
		top: 43%;
		left: 42%;
	}
	.arr {
		margin-bottom: 10px;
	}
	.caption h3 {
		font-size: 1.2em;
	}
	.caption p {
		font-size: 0.877em;
	}
	span.pst {
		top: 46%
	}
	ul.traits-text li p {
		font-size: 1em;
	}
	.tt ol li a {
		font-size: 0.878em;
	}
	span a.btn.btn-danger.bt {
		padding: 6px 0px;
		width: 21%;
	}
	.copy-rt p {
		font-size: 0.9em;
	}
	.tt.brk2 {
		width: 50%;
	}
	.bgtl {
		font-size: 55px;
		padding: 33px 33px;
	}
	.brk4 {
		float: none;
		width: 100%;
	}
	.about,.advice {
		margin-bottom: 1.5em;
	}
	.folt {
		float: left;
		width: 79%;
	}
	ul.traits-text li p ,.caption p,.tt ol li a,.copy-rt p{
		font-size:13px;
	}
	.about-pg>h3 {
		font-size: 2em;
	}
	.choose-us h3, .few-words>h3, .testmonials h3, .our-team h3 {
		font-size: 1.1em;
		font-weight: bold;
	}
	li.text-ul h4, .few-words h4 {
		font-size: 1em;
		font-weight: 600;
		line-height: 1.4em;
	}
	.col-md-3.txt {
		width: 100%;
	}
	.testmonials h3 {
		margin: 0px 0px 15px;
	}
	.lt {
		margin-bottom: 0;
	}
	.our-team h3 {
		margin: 0px 14px 15px;
	}
	li.mr {
		margin-bottom: 6px;
	}
	.typography > h3 {
		font-size: 2em;
	}
	.brk {
		width: 100%;
		float: left;
	}
	.tt ol {
		padding: 0px 13px 15px;
	}
	.about ul {
		padding: 0px 17px 0px;
	}
	.testmonials {
		margin-bottom: 2em;
	}
	.brk {
		margin: 0px 12px 0px;
	}
	.col-md-4.txt-alg {
		margin-left: 13px;
		margin-bottom: 30px;
		width: 100%;
	}
	.four-four {
		height: 382px;
		padding-top: 6.5em;
	}
	.four-four h3 {
		margin: 0;
		font-size: 7em;
	}
	.four-four p {
		padding: 0.2em 0em;
	}
	ul.list li a:hover {
		font-size: 13px;
	}
	ul.list li a {
		font-size: 13px;
	}
	.col-md-4.gal-settings {
		width: 50%;
		float: left;
	}
	input[type="text"] {
		width: 100%;
	}
   
}