﻿<%@ Page Title="" Language="C#" MasterPageFile="~/DOCTOR/DoctorMaster.Master" AutoEventWireup="true" CodeBehind="DoctorHome.aspx.cs" Inherits="PetShelter.DOCTOR.DoctorHome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
